{% extends "app/base.html" %}
{% load static %}

{% block main %}
<main class="page-title container mt-5">
    <h2>{{ title }}</h2>
    <section class="row">
        {% for offer in offers %}
            <article class="col-md-4 mb-4">
                <div class="offer-card">
                    <span class="offer-name">{{ offer.name }}</span>
                    <p class="offer-description">{{ offer.description }}</p>
                </div>
            </article>
        {% endfor %}
    </section>
    <div class="row">
        <div class="event col-md-6" id="eventData" data-standard-price="{{ event.standard_price|floatformat }}">
            <div class="card event-card h-100"> 
                <div class="card-body">
                    <div class="event-schedule mb-3 text-center">
                        <span class="day-name d-block font-weight-bold">
                            {{ event.time|date:"D" }}
                        </span>
                        <span class="day-nb d-block display-4">
                            {{ event.time|date:"d" }}
                        </span>
                        <span class="month-name d-block text-uppercase">
                            {{ event.time|date:"F" }}
                        </span>
                        <span class="time-slot d-block">
                            à {{ event.time|date:"G" }}h{{ event.time|date:"i" }}
                        </span>
                    </div>
                    <div class="event-title text-center mb-3">
                        <h5 class="event-name h5">
                            {{ event.complete_name }}
                        </h5>
                        <h6 class="event-sport h6">
                            {{ event.sport }}
                        </h6>
                    </div>
                    <div class="event-location text-center mb-3">
                        <i class="fa-solid fa-location-dot mr-2"></i>
                        {{ event.get_location_display }}
                    </div>
                    <div class="event-standard-price text-center mb-3">
                        <i class="fa-solid fa-tag"></i>
                        Tarif unitaire standard : {{ event.standard_price }}€
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="offer-form" class="offer-form" method="post" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                <input type="hidden" name="event_id" value="{{ event.id }}" id="active_event">
                <div class="mb-3">
                    <label for="offer-type" class="form-label">Choisir une offre :</label>
                    <select class="form-select" id="offer-type" name="offer_id">
                        {% for offer in offers %}
                        <option value="{{ offer.id }}">
                            {{ offer.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="button"><i class="fa-solid fa-cart-plus"></i> Ajouter au panier</button>
            </form>
        </div>
    </div>
</main>

<script src="{% static 'app/js/update-offer-fields.js' %}"></script>

{% endblock %}
