{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block main %}
<main class="page-title signpage container mt-5">
    <h2>{{ title }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Adresse e-mail</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                {{ form.password }}
            </div>
            <button type="submit" class="button">Se connecter</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Pas encore inscrit? <a class="ml-2" href="{% url 'signup_view' %}">S'inscrire</a>
            </small><br>
        </div>
</main>
{% endblock main %}